In [1]:
import pandas as pd
import numpy as np

In [6]:
heart=pd.read_csv('heart.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
heart.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(heart.drop(columns=['target']),
                                                    heart['target'],test_size=0.2, 
                                                    random_state=1984)

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242 entries, 162 to 220
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       242 non-null    int64
 1   sex       242 non-null    int64
 2   cp        242 non-null    int64
 3   trestbps  242 non-null    int64
 4   chol      242 non-null    int64
 5   fbs       242 non-null    int64
 6   restecg   242 non-null    int64
 7   thalach   242 non-null    int64
 8   exang     242 non-null    int64
 9   oldpeak   242 non-null    float64
 10  slope     242 non-null    int64
 11  ca        242 non-null    int64
 12  thal      242 non-null    int64
dtypes: float64(1), int64(12)
memory usage: 26.5 KB

In [33]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier( random_state=1984)
tree.fit(X_train, y_train)

DecisionTreeClassifier(random_state=1984)

In [34]:
train_score = tree.score(X_train, y_train)
test_score = tree.score(X_test, y_test)
print ("The score of the DT model in training dataset is equal to: "+str(train_score))
print ("The score of the DT model in testing dataset is equal to: "+str(test_score))

The score of the DT model in training dataset is equal to: 1.0
The score of the DT model in testing dataset is equal to: 0.7540983606557377

In [32]:
tree_2=DecisionTreeClassifier(max_depth=6, random_state=1984)
tree_2.fit(X_train, y_train)
train_score2 = tree_2.score(X_train, y_train) #returns the mean accuracy
test_score2 = tree_2.score(X_test, y_test)
print ("The score of the DT model in training dataset is equal to: "+str(train_score2))
print ("The score of the DT model in testing dataset is equal to: "+str(test_score2))

The score of the DT model in training dataset is equal to: 0.9710743801652892
The score of the DT model in testing dataset is equal to: 0.7704918032786885

In [55]:
from sklearn.neighbors import KNeighborsClassifier # KNeighborsClassifier is the KNN machine learning algorithem
KNN = KNeighborsClassifier(n_neighbors=1) #KNN is a function that we create for KNN with K=1

In [56]:
KNN.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [57]:
train_score_knn = KNN.score(X_train, y_train)
test_score_knn = KNN.score(X_test, y_test)
print ("The score of the KNN model in training dataset is equal to: "+str(train_score_knn))
print ("The score of the KNN model in testing dataset is equal to: "+str(test_score_knn))

The score of the KNN model in training dataset is equal to: 1.0
The score of the KNN model in testing dataset is equal to: 0.6721311475409836